@font-face {
    font-family: Zurich_Condensed_BT;
    src: url('../fonts/Zurich__Condensed_BT.ttf');
}

* {
    font-family: Zurich_Condensed_BT;
    letter-spacing: 1px;
}

html, body {
    font-size: 130%;
    height: 100%;
    font-family: ‘Lucida Console’, Monaco, monospace;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background: url(../img/background.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-shadow: -0.5px -0.5px 0 #b3d1ff, 0.5px -0.5px 0 #b3d1ff, -0.5px 0.5px 0 #b3d1ff, 0.5px 0.5px 0 #b3d1ff;
}




div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navbar-icon {
    position: relative;
    top: -4px;
    border-radius: 2px;
}

#wrap.map .navbar {
    background: rgba(255, 255, 255, .9);
}

span.line {
    white-space: nowrap;
}

.spacing {
    margin-bottom: 20px;
}

.middle-logo-inline {
    max-width: 100%;
    max-height: 100%;
}

.middle-logo {
    padding: 0px 15px 10px 15px;
}


#wrap {
    min-height: 100%;
    
}

#wrap.default{
    margin: 0 auto -150px;
    padding: 0 0 150px;
}

.no-padding {
    padding: 0px;
}

#footer {
    height: 150px;
    background-image: url('../img/footerBackground.jpg');
    border-bottom: 40px solid #0e304b;
    text-shadow: none;
    color: white;
    padding:  1rem;
}

#footer .footer-text{
    display: none;
}

.park-name{
     z-index: 999;
     position: absolute;
     top:  60px;
     left: 10px;
     background: rgba(255, 255, 255, .7); 
    padding: 5px;
    border-radius: 5px;
    border:  1px solid #CCCCCC;
}

.list-button{
     z-index: 999;
     position: absolute;
     bottom: 15px;
     left: 15px;
    background: rgba(255, 255, 255, .7); 
    padding: 5px;
    border-radius: 5px;
    border:  1px solid #CCCCCC;
}

.list-button a:hover{
    text-decoration: none;
}


.park-sign{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 999;
    opacity: 0.7;
    position: absolute;
    border:  1px solid #888888;
    text-shadow: none;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
}

.park-sign.selected{
    opacity: 1;
    border-width: 5px;
    border-color: rgb(51, 122, 183); 
    height: 50px;
    width: 50px;
}

.park-sign.red{
    background-color: rgb(217, 83, 79);
}

.park-sign.yellow{
    background-color: rgb(240, 173, 78); 
}

.park-sign.green{
    background-color: rgb(92, 184, 92);
}





p {
    font-size: 18px;
    line-height: 20px;
}

.pad-top{
    padding-top: 50px;
}


.sign{
    padding: 3px 6px;
    border-radius: 3px;
    text-shadow: none;
    color: #FFFFFF;
}

.sign-good{
    background-color: rgb(92, 184, 92);
}

.sign-okay{
    background-color: rgb(240, 173, 78);     
}

.sign-full{
    background-color: rgb(217, 83, 79);
}



@media (min-width: 464px) {

        #footer .footer-text{
        display: inline-block;
    }

    #footer{
        padding: 3rem 1rem 1rem 1rem;
        height: 279px;
    }

    #wrap.default{
    margin: 0 auto -279px;
    padding: 0 0 279px;
}

    .spacing {
        margin-bottom: 40px;
    }

}


#MapsView{
        background-image: url('../img/small.jpg');
        background-size: 100% 100%;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    #Park1 {top: 54%; left: 10%;}
    #Park2 {top: 37%; left: 76%;}
    #Park3 {top: 66%; left: 60%;}
    #Park4 {top: 21%; left: 81%;}
    #Park5 {top: 48%; left: 37%;}


@media (min-width: 600px) {

#MapsView{
        background-image: url('../img/medium.jpg');
        
    }

    #Park1 {top: 56%; left: 18%;}
    #Park2 {top: 37%; left: 60%;}
    #Park3 {top: 69%; left: 50%;}
    #Park4 {top: 19%; left: 63%;}
    #Park5 {top: 50%; left: 35%;}


}


@media (min-width: 1000px) {

#MapsView{
        background-image: url('../img/large.jpg');
        
    }

    #Park1 {top: 58%; left: 35%;}
    #Park2 {top: 40%; left: 57%;}
    #Park3 {top: 70%; left: 52%;}
    #Park4 {top: 23%; left: 59%;}
    #Park5 {top: 52%; left: 44%;}


}





@media (max-width: 991px) {
    #footer {
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    body {
        background-size: cover;
    }

    h1 {
        font-size: 25px;
    }

    #footer {
        font-size: 15px;
    }

        #footer img {
            width: 18%;
        }

    #footer-links {
        clear: both;
        padding: 1rem;
        text-align: center;
    }

    #second-box {
        text-align: right;
    }
}


@media (max-width: 464px) {
    html, body {
        font-size: 99%;
    }

    #footer-links {
        padding: 0.3rem 1rem 1rem 1rem;
    }

    #footer img {
        width: 28%;
    }
}
